<ion-header>
  <ion-toolbar style="--background: var(--ion-color-primary);color: var(--ion-color-light);">
    <div *ngIf="!newProduct" class="title"> Edite el Producto </div>
    <div *ngIf="newProduct" class="title"> Agregue nuevo Producto </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: var(--ion-color-light); --color:var(--ion-color-primary)" class="tableFixHead">


  <div style="padding: 15px;">


    <ion-grid fixed *ngIf="myData">
      <ion-row>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Código</div>
          <input type="text"  [(ngModel)]="myData.producto.codigo">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Nombre</div>
          <input type="text"  [(ngModel)]="myData.producto.nombre">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Tipo de producto</div>
          <input type="text"  [(ngModel)]="myData.producto.tipo">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Stock</div>
          <input type="number"  [(ngModel)]="myData.producto.stock">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Unidad de medida (c^3,ml,l,galón)</div>
          <input type="text" [(ngModel)]="myData.producto.unidad">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Cantidad por unidad</div>
          <input type="number" [(ngModel)]="myData.producto.cantidad">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Imagen</div>
          <input type="text"  [(ngModel)]="myData.producto.imagen">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Sucursal</div>
          <input type="text"  [(ngModel)]="myData.producto.sucursal">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Clasificación</div>
          <input type="text"  [(ngModel)]="myData.producto.clasificacion">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Descripción</div>
          <input type="text"  [(ngModel)]="myData.producto.descripcion">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Status</div>
          <input type="text"  [(ngModel)]="myData.producto.status">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Proveedores</div>
          <input type="text"  [(ngModel)]="myData.producto.proveedores">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Costo de adquisición</div>
          <input type="number"  [(ngModel)]="myData.producto.costo">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Cantidad de producto por paquete</div>
          <input type="number" [(ngModel)]="myData.producto.cantidadxpaquete">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Precio unitario (Precio de venta)</div>
          <input type="number" [(ngModel)]="myData.producto.precio">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Comisión por venta (%)</div>
          <input type="number" [(ngModel)]="myData.producto.comision">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Impuesto</div>
          <input type="text"  [(ngModel)]="myData.producto.impuesto" >
        </ion-col>




      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: var(--ion-color-light-shade); text-align: center;">

    <ion-button (click)="closeModal()" color="primary" shape="round">Cancelar </ion-button>
    <ion-button *ngIf="!newProduct" (click)="eliminarProducto()" color="primary" shape="round">Eliminar </ion-button>
    <ion-button (click)="guardarProducto()" color="primary" shape="round">Guardar </ion-button>

  </ion-toolbar>
</ion-footer>