.title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  // color: var(--ion-color-light) 
  // color: white;
}

input {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  border: transparent;
  padding: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

tr:hover {
  background-color: violet;
}

ion-col {
  div {
    font-size: 10px;
    padding: 2px 0;
    color: var(--ion-color-primary);
    background-color: transparent;
  }

  ion-input {
    --background: white;
    border-radius: 10px;
  }

}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: lightslategrey;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: lightgray;
  border-radius: 10px;
}


.divSelectt {
  background-color: white;
  border-radius: 50px;
  margin: 5px 0;
}

ion-select {
  --padding-start: 6px;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  font-size: 13px;
}
