<ion-header>
  <ion-toolbar style="--background: var(--ion-color-primary);color: var(--ion-color-light);">
    <div *ngIf="!newPedido" class="title"> Edite el Pedido </div>
    <div *ngIf="newPedido" class="title"> Detalles de Factura </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: var(--ion-color-light); --color:var(--ion-color-primary)" class="tableFixHead">

  <div style="padding: 15px;">

    <ion-grid fixed>

      <ion-row>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Código de cliente</div>
          <input type="text" [value]="myData.pedido.codigo" disabled>
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Código de pedido</div>
          <input type="text" [value]="myData.pedido.codigo" disabled>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
          <div>Nombre del Cliente</div>
        </ion-col>
        <ion-col size="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
          <input type="text" [value]="myData.pedido.nombre + ' ' + myData.pedido.apellido">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-lg="7" size-md="7" size-sm="12" size-xs="12">
          <div>Productos</div>
        </ion-col>
        <ion-col size="12" size-lg="2" size-md="2" size-sm="12" size-xs="12">
          <div>Cantidad</div>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12">
          <div>Precio</div>
        </ion-col>
      </ion-row>


      <ion-row *ngFor="let p of myData.pedido.productos; let i = index" style="margin-top: -8px;">
        <ion-col size="12" size-lg="7" size-md="7" size-sm="12" size-xs="12">
          <input type="text" [value]="p.nombre" disabled>
        </ion-col>

        <ion-col size="12" size-lg="2" size-md="2" size-sm="12" size-xs="12">
          <input type="text" [value]="p.cantidad" disabled>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12">
          <input type="number" style="text-align: right;" [value]="p.precio * p.cantidad" disabled>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12" size-lg="9" size-md="9" size-sm="12" size-xs="12"
          style="text-align: right; margin-top: 10px;">
          subTotal:
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12"
          style="border-top: 1px solid var(--ion-color-primary); border-radius: 0 0 10px 10px;">
          <input type="number" [value]="47854" style="text-align: right;" disabled>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12" size-lg="9" size-md="9" size-sm="12" size-xs="12"
          style="text-align: right; margin-top: 10px;">
          IVA:
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12">
          <input type="number" [value]="0" style="text-align: right;" disabled>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-lg="9" size-md="9" size-sm="12" size-xs="12"
          style="text-align: right; margin-top: 10px;">
          Total:
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12"
          style="border-top: 1px solid var(ion-color-primary);">
          <input type="number" [value]="47854" disabled
            style="border-top: 1px solid var(--ion-color-primary); border-radius: 0 0 10px 10px;text-align: right;">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
          <div>Método de pago</div>
        </ion-col>
        
          <ion-item
          style="--background: white; --color: var(--ion-color-primary); --border-radius: 10px; --border-color: white;">
          <ion-select interface="popover" value="Efectivo" placeholder="Método de pago">
            <ion-select-option value="Débito">Débito</ion-select-option>
            <ion-select-option value="Crédito">Crédito</ion-select-option>
            <ion-select-option value="Efectivo">Efectivo</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-row>

    </ion-grid>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: var(--ion-color-light-shade); text-align: center;">

    <ion-button (click)="closeModal()" color="primary" shape="round">Cancelar</ion-button>
    <ion-button (click)="guardarPedido()" color="primary" shape="round">Facturar</ion-button>

  </ion-toolbar>
</ion-footer>
