.title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
  
  input {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border: transparent;
    padding: 5px;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  tr:hover {
    background-color: violet;
  }
  
  ion-col {
    div {
      font-size: 10px;
      padding: 2px 0;
      color: var(--ion-color-primary);
      background-color: transparent;
    }
  
    ion-input {
      --background: white;
      border-radius: 10px;
    }
  
  }
  
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: lightgray;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lightslategrey;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: lightgray;
    border-radius: 10px;
  }
  
  
  
  .divSelectPedido {
    background-color: white !important;
    border-radius: 10px;
    padding: 5px 0;
  
    ion-select {
      --padding-start: 6px;
      --padding-top: 3px;
      --padding-end: 0;
      --padding-bottom: 3px;
      font-size: 13px;
    }
  
  }
  
  
  .btnOption {
    --color: red;
  }
  
  .contenedorBtnOptions {
    background-color: white !important;
    max-height: 160px !important;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    overflow-y: auto;
    margin-top: -5px !important;
    position: absolute;
    width: 96%;
    z-index: 5;
  }
  
  .btnOptions {
    color: var(--ion-color-primary) !important;
    font-size: 14px !important;
    text-align: left;
    margin-top: 2px;
    padding: 5px !important;
    cursor: pointer;
  }
  
  .btnAdd {
    background-color: var(--ion-color-primary) !important;
    border-radius: 10px;
    cursor: pointer;
    color: white !important;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 15px;
  
    ion-icon {
      zoom: 2;
    }
  }
  
  .inputProduct {
    --padding-top: 6px;
    --padding-end: 0;
    --padding-bottom: 5px;
    --padding-start: 8px;
    font-size: 15px;
  }
  