ion-menu ion-content {
  --background: rgb(0, 19, 89);
  --background: linear-gradient(180deg,
      rgba(0, 19, 89, 1) 0%,
      rgba(1, 20, 91, 1) 45%,
      rgba(21, 44, 131, 1) 61%,
      rgba(69, 91, 173, 1) 86%,
      rgba(98, 147, 180, 1) 100%);
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
  --background: transparent;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 10px;
  --background: transparent;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  --background: white;
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
  --background: white;
}

ion-menu.md ion-item ion-icon {
  --background: transparent;
  color: white;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
  --background: white;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: white;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
  --background: white;
}

ion-item {
  --color: var(--ion-color-light);
  // --color: #f4f5f8;
  --background: tansparent;
}

ion-icon {
  --background: transparent;
  zoom: 1.1;
}

ion-list ion-content ion-menu {
  --background: transparent;
}

ion-list {
  padding: 0;
  background-color: transparent;
}



ion-menu ion-list-header ion-note {
  --background: transparent
}

ion-menu {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: 10px 0px 16px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 10px 0px 16px 1px rgba(0, 0, 0, 0.39);
}
