<ion-app>

  <ion-split-pane contentId="main-content"
    style="background-color: var(--ion-color-light);    --side-min-width: 220px; --side-max-width: 225px;">

    <ion-menu contentId="main-content" type="overlay" side="start">
      <ion-content>

        <ion-list id="inbox-list" lines="none" style="height: 100%;">

          <!-- logo -->
          <div style="font-size: 40px; width: 100%; text-align: center; padding-bottom: 30px;">
            <ion-img style="padding: 20px; padding-top: 0; filter: saturate(0.8);"
              src="../../assets/logo_fondo_azul.png"></ion-img> 
          </div>

          <!-- lista de menu  por ngfor de appPages-->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">

              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>

            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"> </ion-router-outlet>

  </ion-split-pane>
</ion-app>