<app-header></app-header>

<ion-content>
  <div style="height: 100%; background-color: var(--ion-color-light);">

    <ion-grid fixed style="    
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  ">

    </ion-grid>
    
  </div>
</ion-content>