ion-icon {
  zoom: 2;
  cursor: pointer;
  color: var(--ion-color-primary);
}

.rowAll {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row1 {
  width: 100%;
  display: flex;
}

.row2 {
  display: flex;
  width: 100%;
}

@media (max-width: 900px) {
  .rowAll {
    flex-direction: column;
  }

  .row2 {
    display: flex;
    width: 90%;
  }
}
