<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar style="--background: var(--ion-color-light);--color:var(--ion-color-primary); padding-right: 10px;">

    <div class="rowAll" >

      <div class="row1">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title style="font-size: 22px;">{{title}}</ion-title>
      </div>

      <div class="row2">
        <div
          style="display: flex; flex-direction: row; align-items: center; background-color: white; border-radius: 15px;width: 100%;">
          <ion-input type="text" placeholder="Buscar" style="--padding-bottom:0; --padding-top:0"></ion-input>
          <ion-icon name="search"></ion-icon>
        </div>

        <div
          style="display: flex; flex-direction: row; align-items: center; background-color: white; border-radius: 15px;">
          <ion-icon name="notifications-circle-outline"></ion-icon>
          <ion-icon name="alert-circle-outline"></ion-icon>
        </div>
      </div>

    </div>

  </ion-toolbar>

</ion-header>