<app-header></app-header>

<ion-content>
  <div style="height: 100%; background-color: var(--ion-color-light);">

    <ion-grid fixed style="    
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  ">

      <ion-row style="width: 100%;flex-grow: 3;">
        <div style="display: flex;flex-direction: column; color: black; background-color: white; border-radius: 10px; 
        padding: 1px; width: 100%;">
          <div style="padding: 10px; font-size: 11px; color: var(--ion-color-primary);">
            Lista de productos
          </div>

          <div class="tableFixHead">
            <table style="width: 100%;color: black;"> 
              <thead>

                <tr style="color: var(--ion-color-primary);font-size: 14px;">
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Tipo de producto</th>
                  <th>Stock</th>
                  <th>Unidad de medida (c^3, ml, l, galón)</th>
                  <th>Cantidad por unidad </th>
                  <th>Imagen</th>
                  <th>Sucursal</th>
                  <th>Clasificación</th>
                  <th>Descripción</th>
                  <th>Status</th>
                  <th>Proveedores</th>
                  <th>Costo de adquisición</th>
                  <th>Cantidad de producto por paquete </th>
                  <th>Precio unitario (Precio de venta)</th>
                  <th>Comisión por venta (%)</th>
                  <th>Impuesto</th>
                </tr>
              </thead>
              
              <tbody style="    min-height: -webkit-fill-available;
            margin-bottom: 30px;
            ">
                <tr 
                (click)="handleProduct(i,producto)"
                *ngFor="let producto of productosAll; let i=index" 
                style="cursor: pointer;">
                  
                  <th>{{producto.codigo}}</th>
                  <th>{{producto.nombre}}</th>
                  <th>{{producto.tipo}}</th>
                  <th>{{producto.stock}}</th>
                  <th>{{producto.unidad}}</th>
                  <th>{{producto.cantidad}}</th>
                  <th>{{producto.imagen}}</th>
                  <th>{{producto.sucursal}}</th>
                  <th>{{producto.clasificacion}}</th>
                  <th>{{producto.descripcion}}</th>
                  <th>{{producto.status}}</th>
                  <th>{{producto.proveedores}}</th>
                  <th>{{producto.costo}}</th>
                  <th>{{producto.cantidadxpaquete}}</th>
                  <th>{{producto.precio}}</th>
                  <th>{{producto.comision}}</th>
                  <th>{{producto.impuesto}}</th>
                 
                </tr>
              </tbody>

            </table>

          </div>

        </div>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <div style="    text-align: right;">
            <ion-button (click)="handleProduct()" style="text-transform: none;" color="primary" shape="round">Nuevo producto</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>