<div style="
    height: 100vh;
    width: 100vw;
    background: rgb(0, 19, 89);
    background: linear-gradient(
      180deg,
      rgba(0, 19, 89, 1) 0%,
      rgba(1, 20, 91, 1) 45%,
      rgba(21, 44, 131, 1) 61%,
      rgba(69, 91, 173, 1) 86%,
      rgba(98, 147, 180, 1) 100%
    );
    position: relative;
  ">
  <div style="
      /* width: 200px; height: 200px;  */
      background-color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      flex-direction: column;
    ">
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        flex-direction: column;
        margin: 50px;
        width: 245px;
      ">
      <div style="
    font-size: 40px;
    margin: 10px;
    margin-bottom: 35px;
    color: var(--ion-color-primary);
          ">
          <ion-img src="../../../assets/logo_fondo_blanco-sin-gota.png"></ion-img>
          </div>
      <ion-input type="text" placeholder="Usuario"></ion-input>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
      <ion-button color="secondary" (click)="btnIniciarSesion()" shape="round"> Iniciar Sesión </ion-button> 
      <div style="    
      cursor: pointer;
      color: var(--ion-color-secondary);
      margin: 10px;
      font-size: 12px;">Registrar Cuenta</div>
    </div>
  </div>
</div>