ion-input {
    --background: white;
    --color:  var(--ion-color-primary);
    --padding-bottom: 8px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 8px;
    --placeholder-color: var(--ion-color-primary);
    --placeholder-font-style: initial;
    --placeholder-font-weight: initial;
    --placeholder-opacity: 0.5;
    border: 1px solid var(--ion-color-primary);
    border-radius: 20px;
    font-size: 0.8rem;
    margin: 10px;
    height: 2rem;
  }
  
  ion-button {
    --background: var(--ion-color-primary);
    --background-activated: #3880ff;
    --background-activated-opacity: 1;
    --background-focused: #3880ff;
    --background-focused-opacity: 1;
    --background-hover: #3880ff;
    --background-hover-opacity: 1;
    --border-color: var(--ion-color-primary);
    --border-radius: 50px;
    --border-width: 8px;
    --box-shadow: 10px 10px;
    --color: #ffffff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    --color-hover: #ffffff;
    --opacity: 1;
    --padding-bottom: 0px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 0px;
    --ripple-color: #1e1e1e;
    --transition: background-color 15ms linear;
    text-transform: none;
    margin-top: 35px;
    font-size: 12px;
  }
  