<app-header></app-header>

<ion-content>
  <div style="height: 100%; background-color: var(--ion-color-light);">

    <ion-grid fixed style="    
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  ">
      <ion-row style="height: 100%;">
        <app-lista-de-pedidos (click)="handlePedido()" style="height: 100%; width: 100%;cursor: pointer;"></app-lista-de-pedidos>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
