<!-- <ion-row style="width: 100%;flex-grow: 3;"> -->
<div style="display: flex;flex-direction: column; color: black; background-color: white; border-radius: 10px; 
        padding: 1px; width: 100%; height: 100%;">
  <div style="padding: 10px; font-size: 11px; color: var(--ion-color-primary);">
    Lista de los últimos pedidos
  </div>

  <div class="tableFixHead">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>ID del Pedido</th>
          <th>Nombre del Producto</th>
          <th>Sucursal</th>
          <th>Status del Envío</th>
          <th>Conductor</th>
        </tr>
      </thead>

      <tbody style="    min-height: -webkit-fill-available;
            margin-bottom: 30px;">
        <tr *ngFor="let item of pedidosAll">
          <td>{{item.fecha}}</td>
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.sucursal}}</td>
          <td>
            <div
              [ngClass]="{'estado-EnProceso':item.estado === 'En Proceso','estado-Entregado':item.estado === 'Entregado','estado-Regresado':item.estado === 'Regresado'}">
              {{item.estado}}
            </div>
          </td>
          <td>{{item.conductor}}</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
<!-- </ion-row> -->