<ion-header>
  <ion-toolbar style="--background: var(--ion-color-primary);color: var(--ion-color-light);">
    <div *ngIf="!newPedido" class="title"> Edite el Pedido </div>
    <div *ngIf="newPedido" class="title"> Agregue nuevo Pedido </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: var(--ion-color-light); --color:var(--ion-color-primary)" class="tableFixHead">

  <div style="padding: 15px;">

    <ion-grid fixed>
      <ion-row>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Código de cliente</div>
          <input type="text" placeholder="*****" [(ngModel)]="myData.pedido.codigo">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Nombre del Cliente</div>
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <input type="text" placeholder="Nombre" [(ngModel)]="myData.pedido.nombre">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <input type="text" placeholder="Apellido" [(ngModel)]="myData.pedido.apellido">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <div>Dirección del Cliente</div>
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <input type="text" placeholder="Fraccionamiento" [(ngModel)]="myData.pedido.dir1">
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <input type="text" placeholder="Coto" [(ngModel)]="myData.pedido.dir2">
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <input type="text" placeholder="Casa" [(ngModel)]="myData.pedido.dir3">
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <input type="text" placeholder="Calle" [(ngModel)]="myData.pedido.dir4">
        </ion-col>

        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        </ion-col>


        <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12" style="position: relative;">
          <div>Producto</div>
          <ion-input class="inputProduct" type="text" [(ngModel)]="productoEdit.nombre"
            (ionInput)="productNameEditChangeEvent($event)"></ion-input>
          <div class="contenedorBtnOptions" *ngIf="productosFiltrados.length>0">
            <div class="btnOptions" (click)="productSelectedEdit(producto)" *ngFor="let producto of productosFiltrados">
              {{producto.nombre}}</div>
          </div>
        </ion-col>



        <ion-col size="12" size-lg="2" size-md="2" size-sm="12" size-xs="12">
          <div>Cantidad</div>
          <ion-input class="inputProduct" type="number" [(ngModel)]="productoEdit.cantidad"
            (ionInput)="productCantidadEditChangeEvent($event)"></ion-input>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12">
          <div>Precio</div>
          <input type="number" [(ngModel)]="productoEdit.precio" disabled>
        </ion-col>

        <ion-col size="12" size-lg="1" size-md="1" size-sm="12" size-xs="12">
          <div class="btnAdd">
            <ion-icon name="add" (click)="addSelectedProduct()"></ion-icon>
          </div>
        </ion-col>


        <ion-row *ngFor="let p of productos; let i = index">
          <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <input type="text" placeholder="{{p.producto.nombre}}" disabled>
          </ion-col>

          <ion-col size="12" size-lg="2" size-md="2" size-sm="12" size-xs="12">
            <input type="text" placeholder="{{p.cantidad}}" disabled>
          </ion-col>

          <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12">
            <input type="number" placeholder="{{p.producto.precio * p.cantidad}}" disabled>
          </ion-col>

          <ion-col size="12" size-lg="1" size-md="1" size-sm="12" size-xs="12">
            <div class="btnAdd" style="margin: 0;">
              <ion-icon name="trash" (click)="deleteProduct(i)"></ion-icon>
            </div>
          </ion-col>

        </ion-row>

        <ion-row *ngIf="productsTotal>0" style="width: 100%;">

          <ion-col size="12" size-lg="8" size-md="8" size-sm="12" size-xs="12"
            style="text-align: right; margin-top: 10px;">
            Total:
          </ion-col>

          <ion-col size="12" size-lg="3" size-md="3" size-sm="12" size-xs="12"
            style="border-top: 1px solid var(ion-color-primary);">
            <input type="number" placeholder="{{productsTotal}}" disabled
              style="border-top: 1px solid var(--ion-color-primary); border-radius: 0 0 10px 10px;">
          </ion-col>

          <ion-col size="12" size-lg="1" size-md="1" size-sm="12" size-xs="12">
          </ion-col>
        </ion-row>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: var(--ion-color-light-shade); text-align: center;">

    <ion-button (click)="closeModal()" color="primary" shape="round">Cancelar</ion-button>
    <ion-button (click)="guardarPedido()" color="primary" shape="round">Agregar</ion-button>

  </ion-toolbar>
</ion-footer>



<!-- <table class=”table-bordered”>
  <tr>
    <th>Item Name</th>
    <th>Completed</th>
    <th>Priority</th>
    <th>Action</th>
  </tr>
  <tr *ngFor=”let x of mydata.items;let ind=index;trackBy:track”>
    <td><input class=”form-control” type=”text” [(ngModel)]=”x.title” name=”title_{{x.id}}” placeholder=”Item name”>
    </td>
    <td><input class=”form-control” type=”checkbox” [(ngModel)]=”x.completed” name=”comp_{{x.id}}”></td>
    <td>
      <select class=”form-control” [(ngModel)]=”x.priority” name=”prio_{{x.id}}”>
        <option *ngFor=”let y of prio”>{{y}}</option>
      </select>
    </td>
    <td><button class=”btn btn-secondary” (click)=”delete(ind)”>Delete</button></td>
  </tr>
</table> -->