<app-header></app-header>

<agm-map style="height: 400px;" [latitude]="lat" [longitude]="lng">
  <agm-direction 
    [origin]="origin" 
    [destination]="destination"
  >
  </agm-direction>
</agm-map>


<ion-content>
  <div style="height: 100%; background-color: var(--ion-color-light);">



    <ion-grid fixed style="    
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  ">
      <ion-row style="height: 100%;">
        <app-lista-de-pedidos style="height: 100%; width: 100%;"></app-lista-de-pedidos>
      </ion-row>

    </ion-grid>
  </div>
</ion-content> 

<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: transparent">
    <ion-title style="text-align: right;">
      <ion-button (click)="handlePedido()"  color="primary" shape="round">
        Nuevo pedido
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer> 