<app-header></app-header>

<ion-content style="--background: transparent;">

  <ion-grid fixed style="    
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;">

    <div style="display: flex; flex-direction: row; border: 1px solid #609c8a; 
  background-color: #d5fcee;color: #609c84; border-radius: 15px;margin-top: 10px;padding: 8px;align-items: center;">
      <ion-icon style="zoom: 2;" name="cog-outline"></ion-icon>
      <div style="display: flex; flex-direction: column; font-size: 11px; padding: 0 5px;">
        <div>
          Notificaciones Del Sistema
        </div>
        <div>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur harum minus nemo quis vel
          blanditiis odit iste facere maxime amet labore inventore at cupiditate modi, perspiciatis quia quod rem
        </div>
      </div>
      <ion-icon style="zoom: 2;" name="close-circle-outline"></ion-icon>
    </div>

    <ion-row class="ion-no-padding ion-no-margin">

      <div class="fila2">

        <div class="fila2columna1" style="display: flex; flex-direction: column;align-items: center; 
        background-color: white; border-radius: 10px;color:black;
        height: 20vh;
         padding: 2px;
        /* overflow-y: auto; overflow: auto; */
        ">
          <div class="titleRow2">Notificaciones</div>

          <div style="overflow-x: auto; overflow-y: auto; " class="div-mini-notificaciones">
            <div *ngFor="let item of [1,2,3,4,5,6,7,8,9]"
              style="display: flex; flex-direction: row;align-items: center;font-size: 10px;">
              <div style="height: 60px; width: 60px; border-radius: 5px;display: flex;">
                <ion-img src="assets/botellon_01.png"></ion-img>
              </div>
              <div style="display: flex;flex-direction: column; font-size: 11px;">
                <div>Notificaciones</div>
                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
              </div>
            </div>
          </div>

        </div>

        <div class="fila2columna2" style="background-color: white;border-radius: 10px;color: var(--ion-color-primary); 
        display: flex; flex-direction: column; ">

          <div class="titleRow2">Productos</div>

          <ion-slides mode="ios" [options]="slideOptionsProducts" style="width: 100%;margin-top: 3px; height: 100%;">

            <ion-slide *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <ion-img style="height: 100px; width: 100px;" src="assets/botellon_01.png"></ion-img>
                <div style="margin: 5px 0; font-size: 13px;">Botellón</div>
              </div>
            </ion-slide>

          </ion-slides>
        </div>

        <div class="fila2columna3"
          style="color: var(--ion-color-primary); background-color: white; border-radius: 10px; font-size: 10px;">
          <div class="titleRow2">
            Producto Lider En Ventas
          </div>
          <div style="display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%; padding: 3px;">

            <ion-img style="width: 150px; border-radius: 5px;" src="assets/botellon_01.png"></ion-img>

            <div style="display: flex; flex-direction: column; padding: 2px;font-size: 11;">
              <div>Producto 1</div>
              <div style="padding: 25px 0;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit..
              </div>
              <div style="text-align: right;cursor: pointer; color:var(--ion-color-secondary);">Ver más</div>
            </div>

          </div>

        </div>


      </div>

    </ion-row>


    <ion-row style="height: 65%;">
      <app-lista-de-pedidos style="height: 100%; width: 100%;"></app-lista-de-pedidos>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: transparent">
    <ion-title style="text-align: right;">
      <ion-button style="text-transform: none;" color="primary" shape="round">Nuevo pedido</ion-button>
      <ion-button style="text-transform: none;" color="primary" shape="round">Agregar Cliente</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>