.tableFixHead {
  overflow-y: auto;
  overflow-x: auto;
  // height: 50vh;
  //   width: calc(100vw - 220px);
}

.tableFixHead thead th {
  position: sticky;
  top: -2px;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 11px;
}

th {
  background: white;
  font-size: 12px;
  font-weight: normal;
}

.tableFixHead::-webkit-scrollbar {
  width: 5px;
}

.tableFixHead::-webkit-scrollbar-track {
  background: lightgray;
}

.tableFixHead::-webkit-scrollbar-thumb {
  background-color: lightslategrey;
  border-radius: 5px;
}

.tableFixHead::-webkit-scrollbar-corner {
  background-color: lightgray;
  border-radius: 10px;
}

.div-mini-notificaciones::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.div-mini-notificaciones::-webkit-scrollbar-track {
  background: lightgray;
}

.div-mini-notificaciones::-webkit-scrollbar-thumb {
  background-color: lightslategrey;
  border-radius: 5px;
}

.div-mini-notificaciones::-webkit-scrollbar-corner {
  background-color: lightgray;
  border-radius: 10px;
}




.estado-EnProceso {
  color: var(--ion-color-primary);
  background-color: var(--ion-color-light-shade);
  border-radius: 50px;
  padding: 8px 21px;
  width: fit-content;
  display: inline-block;
}

.estado-Entregado {
  color: white;
  background-color: var(--ion-color-success);
  border-radius: 50px;
  padding: 8px 21px;
  width: fit-content;
  display: inline-block;
}

.estado-Regresado {
  color: white;
  background-color: var(--ion-color-danger);
  border-radius: 50px;
  padding: 8px 21px;
  width: fit-content;
  display: inline-block;
}

.titleRow2 {
  font-size: 11px;
  text-align: left;
  width: 100%;
  padding-left: 7px;
  padding-top: 5px;
}


.fila2 {
  display: flex;
  width: 100%;
  padding: 10px 0;
}

.fila2columna1 {
  width: 25%;
}

.fila2columna2 {
  width: 50%;
  margin: 0 15px;

}

.fila2columna3 {
  width: 25%;
}


@media (max-width: 900px) {

  .fila2 {
    display: flex;
    width: 100%;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  .fila2columna2 {
    width: 100%;
    order: 1;
    flex-grow: 1;
    margin: 0;
    margin-top: 15px;
  }

  .fila2columna1 {
    margin-right: 15px;
    width: 34%;
    flex-grow: 1;
  }

  .fila2columna3 {
    padding-bottom: 15px;
    flex-grow: 1;
  }


}
